services:
  backend:
    build:
      context: ./backend
      network: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    network_mode: host
    volumes:
      - ./backend/data:/app/data
    restart: unless-stopped
    environment:
      - PORT=21081
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}

  frontend:
    build:
      context: ./frontend
      network: host
    ports:
      - "21080:8080"
    restart: unless-stopped
    depends_on:
      - backend
